.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 350px;
    width: 250px;
    background-color: rgb(184, 184, 184);
    padding: 16px;
}

.screen{
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 32px;
}

.row1-buttons, .row2-buttons, .row3-buttons, .row4-buttons, .row5-buttons{
    display: flex;
    flex: 1;
}

button{
    flex: 1;
    background-color: rgb(223, 223, 223)
}

.equation, .input{
    text-align: right;
    font-size: 32px;
}
